*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */

.navbar{
    display: flex;
    width: 100%;
    margin: auto;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    position: sticky;
    top: 0;
}

.navbar ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: all .5s ease;

}

.navbar ul li a:hover{
    color: brown;
    box-shadow: 0 0 10 px white;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    height: 820px;

}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(images/bgcompany.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 900px;
    width: 100%;
    z-index: -1;
}

.main{
    margin-left: 8%;
    margin-top: 13%;
}

.main h1{
    font-size: 40px;
    color: #fcb2a8;
    margin-bottom: 0px;
}

span{
    color: rgb(255, 255, 255);
}

.main p{
    color: #555;
    line-height: 22px;
}

.main a{
    background: #b15a31b7;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.images:hover .shape{
    bottom: 40px;
}

.images:hover .cbc{
    left: 45%;
}

/* About Section */

#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 100px;
    margin-bottom: 0px;
    margin-top: 0px;
    background-image: url(images/kookietsbg3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
    
}
#pic{
    display: flex;
}
#pic img{
    width: 450px;
    height: 325px;
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}
#intro h2{
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}
.headings{
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 5px 0px;
}

/* Products Section */

#products{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-image: url(images/kookietsbg.jpg);
    height: 600px;
}
.infoproduct p{
    text-align: center;
}
.line{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.textbox{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 400px;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    text-align: justify;
    font-size: medium;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top, rgba(255, 190, 124, 0.753) 50%, rgba(255, 255, 255, 0.291) 50%);
    background-size: 100% 200%;
    transition: all .8s;
} 
.textbox:hover{
    background-position: left bottom;
    color: rgba(0, 0, 0, 0.551);
    border: none;
    box-shadow: 0 0 20px rgba(94, 131, 226, 0.814);
}
.textbox img{
    width: 280px;
    height: 260px;
    padding: 10px;
}
.textbox h3{
    font-size: 20px;
}

/* Contact Section */

#contact{
    display: flex;
    flex-direction: column;
    padding: 100px;
    background-image: url(images/kookietsbg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 600px;


}
.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.box{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 180px;
    border: 1px solid rgba(0, 0, 0, 0);
    margin: 10px;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top, rgba(255, 197, 160, 0.814) 50%, rgba(255, 255, 255, 0.291) 50%);
    background-size: 100% 200%;
    transition: all .8s;
} 
.box:hover{
    background-position: left bottom;
    color: rgba(0, 0, 0, 0.54);
    border: none;
    box-shadow: 0 0 20px rgba(84, 16, 116, 0.813);
}
.box img{
    width: 80px;
    height: 80px;
    padding: 10px;
}
.box h3{
    font-size: 20px;
}

